@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<CompEmpViewModel>

<div class="text-center">
    <h1>Список пользователей</h1>
    <p class="create-user"><a asp-action="Create">Добавить пользователя</a></p>
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Company.Name" asp-route-sortOrder="@(ViewBag.SortName == "Company.Name" ? ViewBag.SortOrder : "")">Название компании</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Subdivision.Name" asp-route-sortOrder="@(ViewBag.SortName == "Subdivision.Name" ? ViewBag.SortOrder : "")">Подразделение</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Post.Name" asp-route-sortOrder="@(ViewBag.SortName == "Post.Name" ? ViewBag.SortOrder : "")">Должность</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Employee.Surname" asp-route-sortOrder="@(ViewBag.SortName == "Employee.Surname" ? ViewBag.SortOrder : "")">Фамилия</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Employee.Name" asp-route-sortOrder="@(ViewBag.SortName == "Employee.Name" ? ViewBag.SortOrder : "")">Имя</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Employee.Patronymic" asp-route-sortOrder="@(ViewBag.SortName == "Employee.Patronymic" ? ViewBag.SortOrder : "")">Отчество</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Employee.Phone" asp-route-sortOrder="@(ViewBag.SortName == "Employee.Phone" ? ViewBag.SortOrder : "")">Телефон</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortName="Employee.Email" asp-route-sortOrder="@(ViewBag.SortName == "Employee.Email" ? ViewBag.SortOrder : "")">Почта</a>
            </th>
        </tr>
        @foreach (CompEmpViewModel emp in Model)
        {
            <tr>
                <td><a asp-action="Delete" asp-route-empId="@emp.Id">Удалить</a></td>
                <td><a asp-action="Edit" asp-route-empId="@emp.Id">Редактировать</a></td>
                <td>@emp.Company.Name</td>
                <td>@emp.Subdivision.Name</td>
                <td>@emp.Post.Name</td>
                <td>@emp.Employee.Surname</td>
                <td>@emp.Employee.Name</td>
                <td>@emp.Employee.Patronymic</td>
                <td>@emp.Employee.Phone</td>
                <td>@emp.Employee.Email</td>
            </tr>
        }
    </table>
</div>
