@{
    ViewData["Title"] = "Home Page";
}
@model EmpIndexViewModel

<div class="text-center">
    <h1>Список сотрудников</h1>
    <form method="get" class="form-com-emp">
        <table class="filter-comp-emp">
            <tr>
                <td>
                    <label>Компания:</label>
                </td>
                <td>
                    <select class="custom-select custom-select-sm mb-1" name="companyId" asp-items="Model.Company"></select>
                </td>
                <td>
                    <label>Фамилия: </label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" name="surname" value="@Model.Surname" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Подразделение:</label>
                </td>
                <td>
                    <select class="custom-select custom-select-sm mb-1" name="subdivisionId" asp-items="Model.Subdivision"></select>
                </td>
                <td>
                    <label>Имя: </label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" name="name" value="@Model.Name" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Должность: </label>
                </td>
                <td>
                    <select class="custom-select custom-select-sm mb-1" name="postId" asp-items="Model.Post"></select>
                </td>
                <td>
                    <label>Отчество: </label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" name="patronymic" value="@Model.Patronymic" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <label>Телефон: </label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" name="phone" value="@Model.Phone" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <label>Почта: </label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" name="email" value="@Model.Email" />
                    </div>
                </td>
            </tr>
        </table>
        <a asp-action="Create" class="btn btn-info" type="button">Добавить сотрудника</a>
        <button class="btn btn-info" type="submit">Поиск</button>
    </form>
    <table class="table">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Company.Name"
                   asp-route-sortOrder="@(Model.SortName == "Company.Name" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"
                   class="@(Model.SortName == "Company.Name" ? Model.SortOrder : "")"><i></i>Название компании</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Subdivision.Name"
                   asp-route-sortOrder="@(Model.SortName == "Subdivision.Name" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Subdivision.Name" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Подразделение</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Post.Name"
                   asp-route-sortOrder="@(Model.SortName == "Post.Name" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Post.Name" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Должность</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Employee.Surname"
                   asp-route-sortOrder="@(Model.SortName == "Employee.Surname" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Employee.Surname" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Фамилия</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Employee.Name"
                   asp-route-sortOrder="@(Model.SortName == "Employee.Name" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Employee.Name" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Имя</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Employee.Patronymic"
                   asp-route-sortOrder="@(Model.SortName == "Employee.Patronymic" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Employee.Patronymic" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Отчество</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Employee.Phone"
                   asp-route-sortOrder="@(Model.SortName == "Employee.Phone" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Employee.Phone" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Телефон</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortName="Employee.Email"
                   asp-route-sortOrder="@(Model.SortName == "Employee.Email" ? Model.SortOrder : "")"
                   class="@(Model.SortName == "Employee.Email" ? Model.SortOrder : "")"
                   asp-route-companyId="@Model.CompanyId"
                   asp-route-subdivisionId="@Model.SubdivisionId"
                   asp-route-postId="@Model.PostId"
                   asp-route-surname="@Model.Surname"
                   asp-route-name="@Model.Name"
                   asp-route-patronymic="@Model.Patronymic"
                   asp-route-phone="@Model.Phone"
                   asp-route-email="@Model.Email"><i></i>Почта</a>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        @foreach (CompEmpViewModel emp in Model.CompEmpList)
        {
            <tr>
                <td>@emp.Company.Name</td>
                <td>@emp.Subdivision.Name</td>
                <td>@emp.Post.Name</td>
                <td>@emp.Employee.Surname</td>
                <td>@emp.Employee.Name</td>
                <td>@emp.Employee.Patronymic</td>
                <td>@emp.Employee.Phone</td>
                <td>@emp.Employee.Email</td>
                <td><a asp-action="Edit" asp-route-empId="@emp.Id">Редактировать</a></td>
                <td><a asp-action="Delete" asp-route-empId="@emp.Id">Удалить</a></td>
            </tr>
        }
    </table>
</div>
